.contentsContainer{
    position: absolute;
    top: 56px;
    left: 56px;
    width: calc(100% - 56px);
    height: calc(100% - 56px);
}
.searchForm{
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    padding: 16px;
    background: var(--grey-50);
    border-bottom: 1px solid var(--grey-100);
}

.formContainer{
    display: flex;
    width: 100%;
    height: calc(100% - 101px);

}
.left{
    width: 620px;
    /* width: 33.3%; */
    min-width: 400px;
    height: 100%;
    background-color: var(--grey-50);
    overflow-y: scroll;
}
.left::-webkit-scrollbar{
    display: none;
}
.wholeInquiry{
    width: 100%;
    padding: 24px;
    background-color: #fff;
}
.subTitles{
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.wholeInquiry form{
    width: 100%;
    margin-top: 28px;
}
.inputsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}
.inputBox{
    display: flex;
    flex-direction: column;
}

.period{
    position: relative;
}
.wholeCheck{
    position: absolute;
    right: -57px;
    bottom: 6px;
    display: flex;
    align-items: center;
}
.wholeCheck span{
    margin-top: 3px;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
    width: 100%;
    padding-top: 28px;
}

.tableContainer{
    width: 100%;
    padding: 24px;
}
.tableWrapper{
    width: 100%;
    height: 476px;
    margin-top: 16px;
    overflow-x: scroll;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
}
.tableWrapper::-webkit-scrollbar-track{
	background-color: #fff;
}
.tableWrapper::-webkit-scrollbar{
	width: 1px;
    height: 5px;
	background-color: #fff;
}
.tableWrapper::-webkit-scrollbar-thumb{
	background-color: var(--grey-500);
}
.tableWrapper table{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 952px;
}
.tableWrapper table th{
    height: 44px; 
    padding: 8px 24px 8px 12px;
    vertical-align: middle;
    background-color: var(--grey-200); 
    border-bottom: 1px solid var(--grey-100);
    text-align: left;
    color: var(--text-color); 
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.tableWrapper.orgTableWrapper table th{
	height: unset;
}
.tableWrapper table th{
    position: sticky; 
    top: 0;
    z-index: 2;
} 
.tableWrapper table th:last-child{
    border-right: 0;
}
.tableWrapper table th:first-child{
    position: sticky; 
    left: 0;
    top: 0;
    z-index: 3;
} 
.tableWrapper table th:nth-child(2){
    position: sticky; 
    left: 110.5px;
    top: 0;
    z-index: 3;
}
.tableWrapper table td{
    background-color: #fff; 
    border-bottom: 1px solid var(--grey-100);
    padding: 8px 24px 8px 12px;
    text-align: left;
    color: var(--text-color); 
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.tableWrapper table td:first-child{
    position: sticky; 
    left: 0;
}
.tableWrapper table td:nth-child(2){
    position: sticky; 
    left: 110.5px;
}
.tableWrapper table td:last-child{
    border-right: 0;
}

.tableButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 7px;
}
.tableButtons p{
    display: flex;
    align-items: flex-end;
    column-gap: 2px;
    color: var(--purple-500);
    font-family: SUIT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: -0.6px;
}
.tableButtons p span{
    color: #000;
}

.resizer{
    width: 1px;
    height: 100%;
    background-color: var(--grey-100);
    cursor: ew-resize;
}
.right{
    flex: 1;
    width: calc(100% - 620px);
    min-width: 500px;
    height: 100%;
    background-color: #fff;
}
.right::-webkit-scrollbar{
    display: none;
}
.formTabNav{
    display: flex;
    column-gap: 4px;
    width: 100%;
    padding: 8px 12px 0 12px;
    background: var(--grey-50);
}
.formTabNav li{
    padding: 10px;
    color: var(--text-color);
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    cursor: pointer;
}
.formTabNav li.active{
    border-radius: 4px 4px 0px 0px;
    background: #fff;
}
.fomrTabContent{
    display: none;
}
.fomrTabContent.active{
    display: block;
    width: 100%;
    height: calc(100% - 42px);
}

.fomrTabContent > form{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.fomrTabContent form::-webkit-scrollbar{
    display: none;
}
.basicInfo1{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.mainProfile{
    width: 176px;
    min-width: 176px;
    height: 220px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mainProfile:hover{
	opacity: 0.7;
}
.mainProfile input{
	display: none;
}
.mainProfile label{
	display: block;
	width: 100%;
	height: 100%;
    border-radius: 4px;
    border: 1px solid var(--grey-50);
	overflow: hidden;
}
.mainProfile label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stackInputs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}
.inputBox.genderContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 16px;
}
.recive{
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding-top: 10px;
}
.zip input{
    width: 73px;
}
.lgThinInput.post{
    width: 443px;
    margin-top: 4px;
}

.tableTab{
    width: 100%;
    padding-bottom: 16px;
}
.historyNav{
    display: flex;
    gap: 4px;
    width: 100%;
    padding: 16px 24px 12px 24px;
}
.historyNav li, .addNav li{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
    background: #fff;
    color: var(--text-color);
    text-align: center;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    cursor: pointer;
}
.historyNav li:hover, .addNav li:hover{
    background: var(--grey-50);
}
.historyNav li.active, .addNav li.active{
    border: 1px solid var(--grey-100);
    background: var(--grey-50);
    color: var(--purple-500);
}
.historyContent, .addContent{
    display: none;
}
.historyContent.active, .addContent.active{
    display: block;
    width: 100%;
}
.tableContainer.historyContent, .tableContainer.relationContainer{
    width: 100%;
    padding: 0 24px;
    padding-right: 143px;
}
.tableContainer.orgContainer{
    width: 100%;
    padding-right: 143px;
}
.tableContainer.relationContainer{
    padding: 16px 143px 16px 24px;
}
.tableContainer.infoTableContainer{
    max-width: 844px;
    padding: 16px 24px;
}
.tableContainer.historyContent .tableWrapper{
    width: 100%;
    height: 171px;
    margin-top: 0;
    overflow-x: scroll;
}
.tableContainer.orgContainer .tableWrapper{
    width: 100%;
    height: 104px;
    overflow-x: scroll;
}
.tableContainer.relationContainer .tableWrapper{
    height: 104px;
    overflow-x: hidden;
}
.tableContainer.infoTableContainer .tableWrapper{
    height: 94px;
    overflow: hidden;
}
.tableContainer.historyContent .tableWrapper table{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: 2600px;
}
.tableContainer.orgContainer .tableWrapper table{
    min-width: 998px;
}
.tableContainer.historyContent .tableWrapper table th,
.tableContainer.relationContainer .tableWrapper table th,
.tableContainer.infoTableContainer .tableWrapper table th,
.tableContainer.orgContainer .tableWrapper table th{
    height: 22px; 
    padding: 8px 24px 8px 12px;
    vertical-align: middle;
    background-color: var(--grey-200); 
    border-bottom: 1px solid var(--grey-100);
 	color: var(--text-color); 
    text-align: left;
}
.tableContainer.historyContent .tableWrapper table th:first-child,
.tableContainer.relationContainer .tableWrapper table th:first-child,
.tableContainer.infoTableContainer .tableWrapper table th:first-child,
.tableContainer.orgContainer .tableWrapper table th:first-child{
    left: unset;
} 
.tableContainer.historyContent .tableWrapper table th:nth-child(2),
.tableContainer.relationContainer .tableWrapper table th:nth-child(2),
.tableContainer.infoTableContainer .tableWrapper table th:nth-child(2),
.tableContainer.orgContainer .tableWrapper table th:nth-child(2){
    left: unset;
}
.tableContainer.historyContent .tableWrapper table td:first-child,
.tableContainer.relationContainer .tableWrapper table td:first-child,
.tableContainer.infoTableContainer .tableWrapper table td:first-child,
.tableContainer.orgContainer .tableWrapper table td:first-child{
    position: unset; 
}
.tableContainer.historyContent .tableWrapper table td:nth-child(2),
.tableContainer.relationContainer .tableWrapper table td:nth-child(2),
.tableContainer.infoTableContainer .tableWrapper table td:nth-child(2),
.tableContainer.orgContainer .tableWrapper table td:nth-child(2){
    position: unset; 
}

.tableContainer.relationContainer .tableWrapper table,
.tableContainer.infoTableContainer .tableWrapper table{
    min-width: unset;
}
.tableContainer.infoTableContainer .tableWrapper table tbody th{
    background-color: var(--grey-50);
    font-weight: 400;
}
@media all and (max-width : 1600px){
    .tableContainer.historyContent, .tableContainer.relationContainer{
        padding-right: 24px;
    }
    .tableContainer.relationContainer{
        padding: 16px 24px;
    }
}

.tableButtons.rightBtns{
    padding: 12px 24px 80px 24px;
    background-color: var(--grey-50);
}

/* 추가정보 */
.addContainer{
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    overflow-y: auto;
}
.addContainer::-webkit-scrollbar-track{
	display: none;
}
.addNav{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    padding-bottom: 12px;
}
.addContent form{
    width: 100%;
}
.tableButtons.addBtns{
    justify-content: flex-end;
}
.tableContainer.addTable{
    padding: 0;
}
.tableContainer.relationContainer.addTable .tableWrapper{
    height: 504px;
    overflow-x: auto;
    margin-bottom: 16px;
}
.tableContainer.relationContainer.addTable .tableWrapper table{
    min-width: 1022px;
}
.tableContainer.addTable.max .tableWrapper table{
    min-width: 1170px;
}
.tableContainer.addTable.max2 .tableWrapper table{
    min-width: 1700px;
}
.tableContainer.addTable.max3 .tableWrapper table{
    min-width: 2600px;
}
.addSearch{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 4px;
    width: 100%;
}
.addScroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 4px;
}
.addSearchScroll{
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.addSearchScroll:first-child{
    margin-right: 20px;
}
.tableContainer.addTable .tableWrapper input[type=checkbox] + label{
    width: 10px;
    width: 10px;
}
@media all and (max-width : 1024px){
    .addScroll{
        display: block;
        padding-top: 20px;
        row-gap: 4px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .addSearchScroll{
        display: flex;
        justify-content: flex-start;
        column-gap: 4px;
        width: 588.6px;
    }
    .addSearchScroll:first-child{
        margin-right: 0;
        margin-bottom: 4px;
    }

}

#joinPopup{
    display: none;
}
#joinMemPopup{
    display: none;
}
#relationPopup{
    display: none;
}
#groupPopup{
    display: none;
    z-index: 100;
}
#joinPopup.active{
    display: flex;
}
#joinMemPopup.active{
    display: flex;
}
#relationPopup.active{
    display: flex;
}
#groupPopup.active{
    display: flex;
}
#relationPopup .popupInner{
    position: relative;
    width: 80%;
    height: 70%;
    max-width: 600px;
    max-height: 800px;
   	padding: 24px 0;
    background-color: #fff;
    border-radius: 4px;
    overflow-y: scroll;
}
#relationPopup .tableContainer.relationContainer{
	padding: 16px 24px;
}
.popupInner::-webkit-scrollbar-track{
	background-color: #fff;
}
.popupInner::-webkit-scrollbar{
	width: 1px;
    height: 5px;
	background-color: #fff;
}
.popupInner::-webkit-scrollbar-thumb{
	background-color: var(--grey-500);
}
.popupInner button{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.popupInner button img{
    width: 100%;
}
.popupInner form{
    width: 100%;
}
.inputsAlign{
	display: flex;
	align-items: center;
	column-gap: 4px;
}
.saveBox{
	display: flex;
	justify-content: flex-end;
	width: 100%;	
	padding: 16px 24px;
}
.inputsAlign.relationSearch{
	padding: 16px 24px 0 24px;
	justify-content: flex-end;
	width: 100%;
}
.inpustFlex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 620px;
}
.inpustFlex label{
    position: relative;
}
.inpustFlex input[type="text"].mountInput{
    position: relative;
    padding-right: 29px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--grey-50);
    background: var(--wt, #FFF);
    text-align: right;
    font-size: 18px;
}
.inpustFlex input[type="text"].mountInput:focus{
    outline: 0;
}
.inpustFlex input[type="text"].mountInput::placeholder{
    font-size: 18px;
}
.mountResult{
    position: relative;
    display: flex;
    width: 146px;
    height: 34px;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-50);
    background: var(--grey-50);
}
.mountCaption{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 8px;
    color: var(--text-color);
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.7px;
}
.mountCaption span{
    color: var(--TEXT, #242A30);
    text-align: right;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 18px */
    letter-spacing: -0.9px;
}
.inputCaption.mount{
	position: absolute;
    bottom: 31px;
    left: 0;
}

.joinContainer{
	width: 100%;
	height: 100%;
}
.fomrTabContent.signContainer {
    display: block;
    border-top: 1px solid var(--grey-100);
}
.wholeCheck.admins{
    position: unset;
    right: -57px;
    bottom: 6px;
    display: flex;
    align-items: center;
}
.inputsContainer.gapRow{
	row-gap: 30px;
}

#leader_list tr, #scout_list tr, #searchResultList tr, #relation_list tr, #search_relation_list tr, #group_list tr, #org_list tr, #unit_list tr{
	cursor: pointer;
}
tbody tr.active td{
	background-color: var(--grey-50);
}

.mainProfile.sign{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
    width: 176px;
    min-width: 176px;
    height: 220px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--grey-50);
}
.mainProfile.sign img{
	width: 55px;
}
.mainProfile.sign p{
	font-size: 12px;
	text-align: center;
}
.mainProfile.sign:hover{
	opacity: 1;
}

/* 조직통합창 */
.organSearchForm{
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    width: 100%;
    padding: 16px;
    background: var(--grey-50);
    border-bottom: 1px solid var(--grey-100);
}
.organSearch{
    display: flex;
    column-gap: 16px;
    width: 100%;
}
.organSearchForm .subTitles{
    padding-bottom: 16px;
}
.btnContainer.organ{
    padding-top: 16px;
}
.formContainer.organ{
    height: calc(100% - 167px);
}
.organForm{
    /* padding: 16px 24px; */
}