.header{
    position: absolute;
    left: 56px;
    top: 0;
    width: calc(100% - 56px);
    height: 56px;
    padding: 0px 24px;
    background-color: #fff;
}
.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.crumb{
    display: flex;
    column-gap: 24px;
}
.crumb li{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.8px;
    color: var(--text-color);
}
.crumb li:first-child{
    position: relative;
    color: var(--grey-500);
}
.crumb li:first-child::after{
    position: absolute;
    right: -20px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/front_img/crumb.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.topNav{
    display: flex;
    align-items: center;
    column-gap: 7px;
    height: 100%;
}
.topNav .profile{
    display: flex;
    align-items: center;
    column-gap: 9px;
    height: 100%;
    padding: 4px 16px 4px 8px;
}
.topNav .profile > span{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.topNav .profile > span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileTexts p{
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.profileTexts span{
    display: flex;
    justify-content: center;
    color: var(--grey-600);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: -0.6px;
}
.navBtns{
    display: flex;
    column-gap: 7px;
}
.navBtns a:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px 8px 8px;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
    background: #FFF;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.navBtns a:first-child img{
    width: 13px;
}
.navBtns a:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--purple-600);
    background: var(--purple-500);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    color: #fff;
}

.navBtns a:first-child:hover{
    background: var(--grey-50);
}
.navBtns a:last-child:hover{
    background: var(--purple-600);
}