.lnb{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 56px;
    height: 100%;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.lnb h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background-image: url(/front_img/sm-logo.png);
    background-position: center center;
    background-size: 24px;
    background-repeat: no-repeat;
    border-right: 1px solid var(--grey-100);
    background-color: #fff;
}
.lnb h1 a{
    display: block;
    width: calc(100% - 44px);
    height: 100%;
}
nav{
    width: 100%;
    height: calc(100% - 56px);
    background: var(--grey-800);
    border-right: 1px solid var(--grey-100);
}
nav::-webkit-scrollbar{
    display: none;
}
.nav{
    position: relative;
    width: 100%;
    height: 100%;
}
.nav > li{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 56px;
    padding: 0 8px;
    font-size: 14px;
    color: #fff;
}
.nav > li img{
    width: 36px;
}
.nav > li > a{
    display: none;
    align-items: center;
    width: calc(100% - 44px);
    height: 100%;
    white-space: nowrap;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* hover */
.nav li:hover{
    background: var(--purple-500);
}
.lnb:hover{
    width: 176px;
}
.lnb:hover h1{
    background-image: url(/front_img/logo.png);
    background-size: contain;
}
.lnb:hover .nav > li > a{
    display: flex;
}

.subNav{
    position: absolute;
    left: 100%;
    top: -56px;
    display: none;
    flex-direction: column;
    row-gap: 4px;
    width: 182px;
    height: calc(100% + 56px);
    padding: 8px;
    border-right: 1px solid #CACFD4;
    background: #FFF;
    box-shadow: 8px 0px 28px 0px rgba(0, 0, 0, 0.25);
}
.subNav li{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 44px;
    row-gap: 4px;
    border-radius: 8px;
    overflow: hidden;
}
.subNav li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    color: var(--text-color);
}
.subNav li a:hover{
    background-color: var(--purple-500);
    color: #fff;
}