
button{
    --fn-suit: 'SUIT';
}
select{
    width: 100px;
    height: 27px;
    border-radius: 0;
    border: 1px solid #000;
}
input{
    width: 100px;
    padding: 5px;
    border-radius: 0;
    border: 1px solid #000;
}

.wrapper{
    padding: 30px;
    border: 1px solid #000;
}
.bottomSection{
    display: flex;
    column-gap: 30px;
}
.search{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 30px;
}
.wholeSelect{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.memNumber{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sections{
    width: 440px;
    border: 1px solid #000;
}
.memberList{
    padding: 10px 30px;
}
.memberList h2{
    padding-bottom: 20px;
}
.searchTable{
    display: grid;
    grid-template-columns: repeat(2, 170px);
    gap: 10px;
}
.searchInput{
    display: grid;
    grid-template-columns: 70px 100px;
    align-items: center;
    column-gap: 5px;
}
.searchInput p{
    text-align: center;
    padding: 5px 0;
    background-color: aliceblue;
}
.dateSreach{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.dateSreach p{
    width: 70px;
}
.dateSreach input{
    width: 150px;
}
.btnWrap{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 20px;
}
.memberList button{
    padding: 8px 12px;
    background-color: aliceblue;
    cursor: pointer;
}
.memberViews{
    width: 100%;
    height: 800px;
    overflow-x: auto;
}
.viewHead{
    display: flex;
}
.viewHead p{
    width: fit-content;
    min-width: 100px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    background-color: aliceblue;
}
.viewHead p:not(:last-of-type){
    border-right: 1px solid #000;
}
.memberViews ul{
    width: 100%;
    height: calc(100% - 30px);
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}
.memberViews ul li{
    display: flex;
    cursor: pointer;
}
.memberViews ul li p{
    width: fit-content;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-align: center;
}
.memberViews ul li p:not(:last-of-type){
    border-right: 1px solid #000;
}

.sections.right{
    width: fit-content;
}
.sections.right form{
    padding: 10px;
}
.basicInputs{
    display: flex;
    column-gap: 10px;
    padding-bottom: 10px;
}
.basicInput{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.basicInput > p{
    padding: 5px 10px;
    background-color: aliceblue;
}
.basicInput input[type=radio]{
    width: fit-content;
}
.zip{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
input[type=checkbox]{
    width: fit-content;
}
.zip a, .basicInput a{
    padding: 3px 6px;
    border: 1px solid #000;
}
.addBox input[type=text]{
    width: 285px;
}
.basicInputs p{
    padding: 5px 10px;
    background-color: aliceblue;
}
.msg{
    display: flex;
    align-items: center;
}
.msg.job{
    column-gap: 5px;
}
i{
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background-color: #000;
}
.basicBottom{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 10px;
}
.basicInputs span{
    width: 100px;
}
.listNav{
	display: flex;
	column-gap: 5px;
	margin-bottom: 10px;
}
.listNav li{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 40px;
    background-color: aliceblue;
    cursor: pointer;
}
.listNav li.active{
	background-color: #d6e1eb;
}
.memberViews.right{
	display: none;
    width: 664px;
    height: 300px;
}
.memberViews.right.active {
    display: block;
}