header{
	width: 100%;
}
.headerTop{
	width: 100%;
	height: 32px;
	background-color: var(--purple-500);
}
.headerTopInner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1640px;
	height: 100%;
	padding: 0 20px;
	margin: 0 auto;
	color: #fff;
}
.headerTopInner > p{
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	line-height: 100%; /* 14px */
	letter-spacing: -0.7px;
}
.headerTopLinks{
	display: flex;
	align-items: center;
	column-gap: 8px;
	height: 100%;
}
.headerTopLinks a{
	display: flex;
	align-items: center;
	padding: 0 8px;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: 100%; /* 14px */
	letter-spacing: -0.7px;
}

@media all and (max-width : 1024px){
	.headerTop{
		display: none;
	}
}

.gnbWrapper{
	width: 100%;
	height: 108px;
	background-color: #FFF;
	border-bottom: 1px solid var(--grey-100);
}
.gnbInner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1640px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.gnbLeft{
	display: flex;
	align-items: center;
	column-gap: 38px;
	height: 100%;
}
.gnbLeft h1{
	max-width: 168px;
}
.gnbLeft h1 a{
	display: block;
	width: 100%;
}
.gnbLeft h1 a img{
	width: 100%;
}
.gnb{
	display: flex;
	column-gap: 12px;
	height: 100%;
}
.gnb > li{
	position: relative;
	height: 100%;
}
.gnb > li > a{
	position: relative;
	display: flex;
    align-items: center;
	height: 100%;
	padding: 12px 16px;
	color: var(--grey-700);
	font-size: 20px;
	font-weight: 500;
	line-height: 100%; /* 20px */
	letter-spacing: -1px;
}
.gnb > li > a:hover{
	color: var(--purple-500);
	font-weight: 700;
}
.gnb > li.active > a{
	color: var(--purple-500);
	font-weight: 700;
}

@media all and (max-width : 1280px){
	.gnb > li > a{
		padding: 10px 14px;
		font-size: 18px;
	}
}
@media all and (max-width : 1024px){
	.gnbWrapper{
		height: 71px;
	}
	.gnbLeft h1{
		max-width: 126.5px;
	}
	.gnb{
		display: none;
	}
}

.gnbRight{
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 12px 16px;
}
.gnbRight a{
	display: flex;
	align-items: center;
	column-gap: 4px;
	padding: 8px 12px;
	color: var(--grey-500);
	font-size: 16px;
	font-weight: 500;
	line-height: 100%; /* 16px */
	letter-spacing: -0.8px;
	transition: all .2s;
}
.gnbRight a:hover{
	color: var(--text-color);
}
.gnbRight button{
	padding-top: 5px;
	cursor: pointer;
}

@media all and (max-width : 1024px){
	.gnbRight a{
		display: none;
	}
	.gnbRight{
		padding: 0;
		column-gap: 0;
	}
	.gnbRight button{
		padding: 0;
	}
}

.gnbSub{
	position: absolute;
	top: 101%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	display: none;
	flex-direction: column;
	row-gap: 8px;
	width: 177px;
	border-radius: 16px;
	background: #FFF;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	overflow: hidden;
}
.gnbSub li a{
	display: block;
	padding: 16px 0;
	color: var(--text-color);
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%; /* 18px */
	letter-spacing: -0.9px;
}
.gnbSub li a:hover{
	text-decoration: underline;
}

.siteMap{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: var(--purple-500);
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-top {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.siteMapInner{
	display: flex;
	flex-direction: column;
	row-gap: 76px;
	width: 100%;
	max-width: 1640px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.siteMapTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 60px;
}
.siteMapTop a{
	display: block;
	width: 168px;
}
.siteMapTop a img{
	width: 100%;
}
.siteMapTop button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.siteMapTop button img{
	width: 40px;
}

.siteMapBottom{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: calc(100% - 231.69px);
	overflow-y: scroll;
}
.siteMapBottom::-webkit-scrollbar{
	display: none;
}
.depth1{
	display: flex;
	justify-content: center;
	width: 100%;
}
.depth1 > li{
	width: calc(100% - 80px);
}
.depth1 > li > a{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 12px 0;
	margin-bottom: 24px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 100%; /* 20px */
	letter-spacing: -1px;
	transition: all .2s;
}
.depth1 > li > a.active{
	background-color: #fff;
	border-radius: 999px;
	color: var(--purple-500);
}
.depth1 > li > a:hover{
	background-color: #fff;
	border-radius: 999px;
	color: var(--purple-500);
}
.depth2{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 8px;
}
.depth2 li{
	width: 100%;
}
.depth2 li a{
	display: block;
	width: 100%;
	padding: 16px 8px;
	color: var(--wt, #FFF);
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%; /* 18px */
	letter-spacing: -0.9px;
}
.depth1 > li > a span.mbText{
	display: none;
}
.depth2 li a:hover{
	font-weight: 700;
}

@media all and (max-width: 1480px){
	.depth1 > li{
		width: 100%;
	}
}
@media all and (max-width: 1024px){
	.siteMapInner{
		row-gap: 0;
		padding: 0;
	}
	.siteMapTop{
		height: 71px;
		padding: 0 20px;
		border-bottom: 1px solid var(--purple-600);
	}
	.siteMapTop a{
		width: 126.5px;
	}
	.siteMapTop button{
		width: 24px;
		height: 24px;
	}
	.siteMapTop button img{
		width: 24px;
	}
	
	.siteMapBottom{
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 40px;
		height: calc(100% - 71px);
		padding: 17px 20px 150px 20px;
	}
	.depth1 > li{
		display: flex;
		column-gap: 24px;
		width: 100%;
	}
	.depth1 > li > a{
		justify-content: flex-start;
		width: 100px;
		min-width: 100px;
	    height: fit-content;
		padding: 12px 16px;
		margin-bottom: 0;
	}
	.depth1 > li > a span.pcText{
		display: none;
	}
	.depth1 > li > a span.mbText{
		display: block;
		line-height: 140%;
	}
	.depth1 > li > a.active{
		border-radius: 35px;
	}
	.depth2{
		align-items: flex-start;
		width: calc(100% - 100px);
	}
	.depth2 li a{
		display: block;
		width: 100%;
		padding: 16px 8px;
		color: var(--wt, #FFF);
		text-align: left;
		font-size: 18px;
		font-weight: 500;
		line-height: 100%; /* 18px */
		letter-spacing: -0.9px;
	}
}


.gnbRight a.mb{
	display: none;
}
@media all and (max-width : 1024px){
	.gnbRight a.mb{
		display: block;
	}
}