footer{
	width: 100%;
}
.footerInner{
	width: 100%;
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 20px 80px 20px;
}
.footerRelated{
	display: flex;
	justify-content: center;
	column-gap: 20px;
	width: 100%;
	padding: 16px 0;
	border-radius: 16px;
	background: #FFF;
	box-shadow: 0px 0px 36px 0px rgba(146, 146, 146, 0.12);
}
.footerRelated a{
	display: block;
	max-width: 125px;
	width: 11%;
}
.footerRelated a img{
	width: 100%;
}
.footerMid{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	padding: 40px 0;
}
.footerSns{
	display: flex;
	justify-content: center;
	column-gap: 28px;
	width: 100%;
}
.footerTexts{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;	
}
.footerTexts li{
	display: flex;
	column-gap: 32px;
	color: var(--grey-500);
	font-size: 16px;
	font-weight: 700;
	line-height: 100%; /* 16px */
}
.footerTexts li p{
	display: flex;
	column-gap: 4px;
}
.footerTexts li p span{
	font-size: 16px;
	font-weight: 400;
}
.footerBot{
	display: flex;
	justify-content: center;
	padding: 8px 0;
}
.footerBot a{
	display: block;
	padding: 8px 0;
	color: var(--grey-500);
	font-size: 16px;
	font-weight: 500;
	line-height: 100%; /* 16px */
	letter-spacing: -0.8px;
}
.footerBot a::after{
	content: "|";
	display: inline-block;
	margin: 0 20px;
}
.footerBot a:last-of-type::after{
	display: none;
}

.top{
    opacity: 0;
    position: fixed;
    right: 50px;
    bottom: 34px;
    width: 66px;
    height: 66px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--purple-500);
}
.top img{
    width: 60%;
    transition: all .2s;
}
.top:hover img{
	transform: translateY(-5px);
}
.top.active{
    opacity: 1;
    transition: all .2s;
}

@media all and (max-width : 1024px){
	.footerRelated{
		justify-content: flex-start;
		overflow-y: scroll;
	}
	.footerRelated a{
		display: block;
		min-width: 125px;
	}
	.footerTexts li:nth-of-type(2){
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 20px;
		row-gap: 8px;
	}
	.footerBot{
		flex-wrap: wrap;
	}
	
	
    .top{
        right: 15px;
        bottom: 34px;
        width: 46px;
        height: 46px;
    }
}

